@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .above-fold-video {
    height: 100vh;
    max-height: 100vh;
    clip-path: polygon(0 0, 100% 0, 100% 100vh, 0 100vh);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100vh, 0 100vh);
  }
}
